/* You can add global styles to this file, and also import other style files */
// @import "../src/styles/global-overrides"
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

stmat-slider.cuom-slider .mdc-slider__track--active_fill {
   border-color: rgb(10, 10, 158) !important;
}