
<!-- De todos os exemplos de Style o melhor a se ultilizar é o [style]="", por obter um carregamento mais leve e ser menos verboso ao manipularalign-items-start -->

<h1 [ngStyle]="{
  'font-size': fontSize + 'px',
  'color': textColor,
}">Sou um H1 1!</h1>

<h1
  [ngStyle]="styleObj"
>Sou um H1 2!</h1>

<h1
  [style.font-size.px]="fontSize"
  [style.color]="textColor"
>Sou um H1 3!</h1>

<!-- Melhor Forma de se ultilizar. -->
<h1
  [style]="stylesString"
>Sou um H1 4!</h1>

<button (click)="increaseFontSize()">+A</button>
<button (click)="decreaseFontSize()">-A</button>
<button (click)="taggleFontColor()">{{ buttonText }}</button>