.button {
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: orange;

    position: relative;

    &:active {
        bottom: -2px;
    }

    &--white{
        background-color: white;
    }

    &--purple{
        background-color: purple;
    }
}