

/*Header*/

.balance-card header {
    background-color: rgb(252, 55, 55);
    display: grid;
    align-items: center;
    padding: 10px;
    overflow: auto;
    margin: 0%;
    grid-template-areas: 
    "img descricao saldo"
    ;
    grid-template-columns: auto 1fr auto;
}

.balance-card header img {
    grid-area: img; 
    max-height: 42.5px;
}

header span {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    margin: 0%;
}

span.descricao-balance-card {
    grid-area: descricao;
    text-align: left;
    padding-left: 10px;
}

span.saldo-balance-card {
    grid-area: saldo;
}

//MAIN

.balance-card main {
    background-color: white;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

main .acount {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin: 1rem;
    padding: 0px 0px 12px;
}

.account span:nth-child(2) {
    font-weight: bold; /* Destaca o preço */
}

/*footer*/

.balance-card footer {
    background-color: white;
    padding: 10px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

footer .acountTotal {
    background-color: rgb(232, 219, 219);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

div .valor {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
