<!-- <div style="background-color: green; color: white;" *ngIf="minhaProp else meuTemplate">Sou uma Div!</div>

<ng-template #meuTemplate>
  <div style="background-color: red; color: white;">Eu sou uma outra Div!</div>
</ng-template> -->

<ng-container *ngIf="minhaProp; then meuTemplate; else meuOutroTemplat"></ng-container>

<ng-template #meuTemplate>
  <div style="background-color: red; color: white;">Sou a div "Then"</div>
</ng-template>

<ng-template #meuOutroTemplat>
  <div style="background-color: blue; color: white;">Sou a div "Else"</div>
</ng-template>

<button (click)="taggleProp()">Altera propriedade NgIf da Div</button>