.container {
    background-color: rosybrown;
    border: solid black 5px;
    padding: 5px;
    display: grid;
    grid-template-columns:auto 1fr auto;
    height: 35vh;
    grid-template-rows:70% 30%;
    gap: 1;
}

.container div {
    background-color: white;
    border: 2px solid blue;
    padding: 20px;
}