<div class="list">
  <div class=
  "item item--odd" 
  *ngFor="
    let person of listPeople;
    let i = index; 
    let isOdd = odd; 
    let isLast = last; 
    let isfirst = first 
    "
  [class.item--add]="isOdd"
  [class.item--highLighted]="selectPersonIndex === i"
  (click)="selectPerson(i)"
  >
    <p class="item__name"> {{ i }}: {{ person.name }}</p>
    <p class="item__age"> {{ person.age }}</p>
    <P class="item--age" *ngIf="isfirst">É o primeiro</P>
    <P class="item--age" *ngIf="isLast">É o ultimo</P>
  </div>
</div>