<button [attr.disabled]="false">Botão Attr</button>

<button [disabled]="false">Botão Prop</button>

<button appDisabled >Botão Host Binding</button>

<p style="background-color: blue; color: black">Paragrafo usando Style chumbado</p>

<p [attr.style]="'background-color: blue; color: black'">Paragrafo usando Attr Style</p>
<p></p>

<p [style]="'background-color: blue; color: black'">Propit Binding</p>

<p [style]="{
    backgroundColor: 'blue',
    color: 'black',
}">Prop Obj</p>

<p appStyle>Diretiva</p>

<p class="meu-texto">Normal</p>

<p [attr.class]="'meu-texto'">Attr</p>

<p [className]="'meu-texto meu-size'">prop</p>

<p [class]="{
    'meu-texto': true,
    'meu-size': true
}">prop class</p>

<p appClass>Diretiva</p>

<input appList>

<br>

<input appInputColor [bgColor]="appBgColor" tColor="white">

<br>

<input appInputColor bgColor="orange" tColor="white">