
    <div class="user-detail">
    <mat-list>
        <mat-list-item class="u-test-aling-center">
            <span class="mat-h2">Detalhes do Usuario</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Nome:</span> 
            <span class="mat-h3">Fulano</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">E-mail:</span> 
            <span class="mat-h3">jm.xample.com</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Telefone:</span> 
            <span class="mat-h3">(62) 9 9999 9999</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Endereço:</span> 
            <span class="mat-h3">Via Veneza Qd 1 Lt 8 Nova Veneza Go</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Ativo:</span> 
            <span class="mat-h3">Sim</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Função:</span> 
            <span class="mat-h3">Desenvolvedor</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="mat-h2">Data de Cadastro:</span> 
            <span class="mat-h3">01/01/2024</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>


